<h1>Edit Bookmark</h1>
<%= form_for :bookmark, url: bookmarks_path(@bookmark), method: :patch do |f| %>

<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>

<p>
    <%= f.label :title %><br />
    <%= f.text_field(:title, {class: 'form-control'}) %>
</p>
<p>
    <%= f.label :URL %><br />
    <%= f.text_area(:url, {class: 'form-control'}) %>
</p>
<p>
    <%= f.label :shortening %><br />
    <%= f.text_area(:shortening, {class: 'form-control'}) %>
</p>
<p>
    <%= f.label :tags %><br />
    <%= f.text_field(:tags, {class: 'form-control', 'data-role' => 'tagsinput', value: @bookmark.tags.pluck(:name).join(',')}) %>
</p>
<p>
    <%= f.submit({class: 'btn btn-primary'}) %>
</p>
<% end %>
